<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.memoryapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_ap_id" />

        <activity android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.MomentSetup"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.FriendSetup"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.PhotoSel"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ListMemories"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.OneMemoryDisplay"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ShowMemory"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider143977473093837"
            android:exported="true" />

        <activity android:name=".activities.RememberGame"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ListFriends"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.EditMoment"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>